.header .el-menu{
  z-index: -1!important;
}
.header .el-menu--dark{
  padding-right: 20px;
}

.header .el-menu--horizontal .el-submenu .el-submenu__title{
  height: 50px!important;
  line-height: 50px!important;
}
.header .el-menu--horizontal .el-submenu{
  float: right!important;
}
.header .el-menu--horizontal .el-submenu > .el-menu{
  top: 52px!important;
}
/* form label*/
.zhong-lei-label .el-form-item__label{
  width: 50px!important;
}
.add-btn button{
  float: right;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0!important;
}
.el-menu{
  border-radius: 0;
}

.el-scrollbar>div{
  margin-bottom: 0!important;
  margin-right: 0!important;
}
